.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        margin-top: 10px; /* Added */
        min-width: 100px;
}

body {
	min-width: 100px;
}

#backToStart , a#start{
	margin-top: 20px;
}
a#start{
	padding-top: 12px;
	color: #ffffff;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover
{
color: #fff;
background-color: #161617; 
border-color: #494F57; 
}
form{
	margin-top: 20px;
	margin-bottom: 20px;
}
.small, small{
	color: red;
}
button #submitButton{
	float: right;
}
div.row{
	margin-bottom: 20px;
}
select#SelectYear{
	min-width: 100px;
	font-size: 16px;
}
select#SelectMonth, select#SelectDay{
	min-width: 65px;
	font-size: 16px;
	padding-left: 5px;
}
button#copySMS{
	margin-top: 0px;
	float: right;
}
.btn-light#backToTarget, .btn-light#backToStart{
	width: 125px;
	margin: 10px 0px -5px 20px;
}
.btn-success, #copySMS{
	height: 50px;
}
a#backToTrans{
	width: 220px;
	margin: 10px 0px -5px 20px;
}

.selectregionButtonBlock{
	margin-top: 20px;
	width: 100%;
}